#page-landing h1 {
    color: white;
    font-weight: bold;
    font-size: 4.4rem;
    line-height: 6.5rem;
    padding: 2rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    background-color: #379B8A;
    border-radius: 20px;
    width: 96%;
    margin-left: 2%;
}

.item {
    color: black;
    float: left;
    flex-direction: column;
    padding: 1.2rem;
    line-height: 3.2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    /* text-align: center !important; */
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20px;
}

#page-landing #container .item {
    text-align: left;
}

.item .main {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    /* margin-left: 2%; */
    margin-top: 2%;
    text-align: left !important;
}

.item.description {
    line-height: 1.9rem !important;
    max-width: 50%;
    font-size: 1.6rem;
    float: left !important;
}


.item img {
    border-radius: 30px;
    float: left;
    margin-bottom: 2% !important;
    width: 400px;
    height: 250px;
    border: 3px solid #379B8A;
    margin: 20px 0px 0px 30px;
    align-items: center;
}

.back a {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    padding: 1.2rem;
}

/* .back a:hover {
    background: lightcoral;
    box-shadow: 2px 2px 2px 2px lightslategray;
    transition: 400ms;
} */

hr {
    opacity: 0;
}