<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - IS</title>


    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/container.css">
    
</head>


<body>

    <header class="header">
        <h1>MyAcademy</h1>
    </header>

    <label class="label" for="busca">Buscar</label>

    <div id="page-landing">
        <div id="container">
            
            <div class="search">

                <form action="/home" method="GET">
                       
                    <div class="lupa">

                            <input 
                                type="text" 
                                name="filter" 
                                placeholder="PESQUISE POR NOME DO PROFESSOR, MATÉRIA NOME DA FACULDADE" 
                                value="{{filter}}"
                            >

                            <button type="submit"><img src="/images/search.svg" alt="Buscar" class="searchButton"></button>
                    </div>
                </form>

                {% for video in videos %}
                    <div class="cards" id="{{loop.index0}}">
                    <a href="/video/{{ video.id }}">
                        <img src="{{ video.foto_url }}" alt="Foto Vídeo">
                    </a>
                    <h3>{{ video.name }}</h3>
                    <h4>{{ video.videoname }}</h4>
                    <p>{{ video.description }}</p>
                    <hr>
                {% endfor %}

            </div>
            
        </div>
    </div>

</body>
</html>